<div id="full-width" class="modal container fade" tabindex="-1" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="title"></h4>
  </div>
  <div class="modal-body">
    <div id="map" class="span8" style="height: 400px"></div>
    <div id="map" class="span2" style="height: 400px">
      <div id="doctors">

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>
<div class="text-center">
  <button style="display: none" class="demo btn btn-primary btn-lg" id="modal-btn" data-toggle="modal" href="#full-width">View Demo</button>
</div>